Gemfile.lock
.vagrant/
.cache/
.log/
.cp/
src/

images/*.zip
**/*.retry
provisioning/cloud-init/*.yaml
provisioning/bootconf/*
!provisioning/bootconf/pi-config.txt
!provisioning/bootconf/zero-config.txt

manifests/octobox/secrets.yaml