Gemfile.lock
.vagrant/
.cache/
.log/
.cp/
src/
vendor
.bundle

images/*.zip
**/*.retry
provisioning/cloud-init/*.yaml
provisioning/bootconf/*
!provisioning/bootconf/pi-config.txt
!provisioning/bootconf/zero-config.txt

**/secrets.yaml
**/kubernetes-dashboard
